doctype html
html
  head
    meta(charset="utf-8")
    title slides-now-core test
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="author" content="Gleb Bahmutov")
    link(rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.14.0.css")
    link(rel="stylesheet" href="bower_components/code-box.css")
    link(rel="stylesheet" href="slides-now-core.css")

    script(src="http://code.jquery.com/jquery-2.1.0.min.js")
    script(src="http://code.jquery.com/qunit/qunit-1.14.0.js")
    script(src="bower_components/es5-shim.js")
    script(src="bower_components/bespoke.js")
    script(src="bower_components/bespoke-hash.js")
    script(src="bower_components/flowType.js")
    script(src="bower_components/code-box.js")
    script(src="slides-now-core.js")
    script(src="index-page-tests.js")

  body
    div#qunit
    div#qunit-fixture

    div#presentation
    p#md(style="display:none;")
      include test/test-index.md

